.App {
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(to bottom right,#6989AF,#2a3646);
}

.button{
  border: none;
  background-color: white;
  width: 80px;
  height: 25px;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
}
.button:hover{
  transition: 0.5s;
  opacity: 0.7;
}

.radioBox{
  display: flex;
  flex-direction: column;
}

.middleBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}

.inputField{
  border-radius: 3px;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}